Create the list

In [86]:
stu = ['Malak','Reem','Bayan']

Print specific stu element

In [87]:
stu[0]

'Malak'

In [88]:
stu[1]

'Reem'

if put a large number ==> give error

In [89]:
stu[4]

IndexError: list index out of range

Length of the list

In [90]:
len(stu)

3

Add to all element word 'student'

In [91]:
for i in range(3):
    stu[i] = stu[i] + ' student'

In [92]:
stu

['Malak student', 'Reem student', 'Bayan student']

Or can print the list by  use :

In [93]:
print(stu)

['Malak student', 'Reem student', 'Bayan student']

Can put diffrint type in the list (element , list and string ..)

In [94]:
mix = [5,[2,3],'malak']

In [95]:
mix

[5, [2, 3], 'malak']

Add an element to the list

In [103]:
stu.append('Mohammad')
stu

['Bayan student',
 'Malak student',
 'Reem student',
 'Roaa',
 'Tala',
 'mohammad',
 'Mohammad']

Add list to list

In [104]:
stu.extend(['Roaa','Tala','Raneen'])
stu

['Bayan student',
 'Malak student',
 'Reem student',
 'Roaa',
 'Tala',
 'mohammad',
 'Mohammad',
 'Roaa',
 'Tala',
 'Raneen']

Or

In [105]:
student = stu + ['Ahmad','Ammed']
student

['Bayan student',
 'Malak student',
 'Reem student',
 'Roaa',
 'Tala',
 'mohammad',
 'Mohammad',
 'Roaa',
 'Tala',
 'Raneen',
 'Ahmad',
 'Ammed']

Insert elements at specific position in list

In [106]:
stu.insert(1,'ziana')
stu

['Bayan student',
 'ziana',
 'Malak student',
 'Reem student',
 'Roaa',
 'Tala',
 'mohammad',
 'Mohammad',
 'Roaa',
 'Tala',
 'Raneen']

1.Delete elements by index

In [107]:
del stu[1]
stu

['Bayan student',
 'Malak student',
 'Reem student',
 'Roaa',
 'Tala',
 'mohammad',
 'Mohammad',
 'Roaa',
 'Tala',
 'Raneen']

2.Delete elements by value

In [108]:
stu.remove('Raneen')
stu

['Bayan student',
 'Malak student',
 'Reem student',
 'Roaa',
 'Tala',
 'mohammad',
 'Mohammad',
 'Roaa',
 'Tala']

Sort the elements of the list تصاعدي

In [109]:
stu.sort()
stu

['Bayan student',
 'Malak student',
 'Mohammad',
 'Reem student',
 'Roaa',
 'Roaa',
 'Tala',
 'Tala',
 'mohammad']

In [110]:
squares = [0,1,4,9,16,25,36,49]

Print from zero to two .. the first two element

In [112]:
squares[0:2]

[0, 1]

Print from one to three

In [118]:
squares[1:3]

[1, 4]

Print from the beginning to four

In [120]:
squares[:4]

[0, 1, 4, 9]

Print from two to the end

In [122]:
squares[2:]

[4, 9, 16, 25, 36, 49]

Print all element

In [125]:
squares[:]

[0, 1, 4, 9, 16, 25, 36, 49]

Print the last element

In [133]:
squares[-1]

49

Print the before last element

In [134]:
squares[-2]

36

Remove the last two element

In [137]:
del squares[-2:]
squares

[0, 1, 4, 9]

For loop to Print all element value

In [141]:
for value in squares:
    print("Element: ", value)

Element:  0
Element:  1
Element:  4
Element:  9

Also can print the element index with their value

In [144]:
for index, value in enumerate(squares):
    print("Element index ", index, "-> it's value ", value)

Element index  0 -> it's value  0
Element index  1 -> it's value  1
Element index  2 -> it's value  4
Element index  3 -> it's value  9